server:
  port: 80
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: whosyourdaddy
    url: jdbc:mysql://localhost:3306/academic?useUnicode=true&characterEncoding=utf8&useSSL=false
