server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: million
    url: jdbc:mysql://localhost:3306/academic?useUnicode=true&characterEncoding=utf8&useSSL=false
  jpa:
    hibernate:
      ddl-auto: update
  http:
    encoding:
      force: true
      charset: UTF-8
      force-request: true
      force-response: true
  application:
    name: academic
  thymeleaf:
    cache: false
  jackson:
    serialization:
      write_dates_as_timestamps: false


