<div class="ui three column grid" id="academy">
    <div class="column">
        <table class="ui top attached celled table">
            <thead>
            <tr>
                <th>专业名称</th>
                <th>所属学院</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(x,idx) in major">
                <td>
                    <div class="ui input"><input v-model="x.name"></div>
                </td>
                <td>
                    <div class="ui form">
                        <div class="field">
                            <select v-model="x.academy.id">
                                <option v-for="s in academy" :value="s.id">{{ s.name }}</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mini ui primary button" @click="saveMajor(idx)">更新</div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui primary button" @click="addMajor()">添加专业</div>
    </div>
    <div class="column">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>学院ID</th>
                <th>学院名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(x,idx) in academy">
                <td>{{ x.id }}</td>
                <td>
                    <div class="ui input"><input v-model="x.name"></div>
                </td>
                <td>
                    <div class="mini ui teal button" @click="saveAcademy(idx)">更新</div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui primary button" @click="addAcademy()">添加学院</div>
    </div>
    <div class="column">

    </div>
</div>
<script>
    var academy = new Vue({
        el: '#academy',
        data: {academy: null, semester: null, major: null},
        methods: {
            loadData: function () {
                var _self = this;
                //load academy
                $.ajax({
                    url: 'u/a', type: 'get', dataType: 'json',
                    success: function (res) {
                        if (res.ok) _self.academy = res.obj;
                    },
                    error: function () {
                        throw new Error('载入学院出错')
                    }
                });
                //load major
                $.ajax({
                    url: 'u/m', type: 'get', dataType: 'json',
                    success: function (res) {
                        if (res.ok) _self.major = res.obj;
                    },
                    error: function () {
                        throw new Error('载入专业出错')
                    }
                });
                //load semester
                $.ajax({
                    url: 'u/st', type: 'get', dataType: 'json',
                    success: function (res) {
                        if (res.ok) _self.semester = res.obj;
                    },
                    error: function () {
                        throw new Error('载入学期出错')
                    }
                })
            },
            saveAcademy: function () {

            },
            saveSemester: function () {

            },
            saveMajor: function (id) {

            },
            addMajor: function () {
                this.major.push(JSON.parse(JSON.stringify(this.major[this.major.length - 1])));
                this.major[this.major.length - 1].id = null;
            },
            addSemester: function () {
                this.semester.push(JSON.parse(JSON.stringify(this.semester[this.semester.length - 1])));
                this.semester[this.semester.length - 1].id = null;
            },
            addAcademy: function () {
                this.academy.push(JSON.parse(JSON.stringify(this.academy[this.academy.length - 1])));
                this.academy[this.academy.length - 1].id = null;
            }
        }
    });
    academy.loadData();
</script>