<style>
    #drop {
        min-height: 100px;
        border: 2px dashed lightgrey;
        border-radius: 5px;
        text-align: center;
        padding: 25px;
    }
</style>
<div class="ui container">
    <div class="row">
        <div class="column">
            <div id="drop">将文件拖拽至此</div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui small form" id="hash">
                <h3>选择各属性对应的列</h3>
                <div class="fields">
                    <div class="field">
                        <label>表格数据含有表头</label>
                        <input type="checkbox" v-model="hasHeader">
                    </div>
                    <div class="field">
                        <label>姓名</label>
                        <select v-model="name">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>身份证</label>
                        <select v-model="idNo">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>性别</label>
                        <select v-model="gender">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>专业ID</label>
                        <select v-model="major">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>生日</label>
                        <select v-model="birthday">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>单位/班级</label>
                        <select v-model="unit">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>学工号</label>
                        <select v-model="workNo">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>地址</label>
                        <select v-model="address">
                            <option v-for="(x,idx) in header" :value="idx">{{ x }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>导入教师</label>
                        <input type="checkbox" v-model="isTeacher">
                    </div>
                </div>
                <div id="submit" class="ui primary button" @click="uploadData()">导入数据</div>
            </div>
            <div id="hot"></div>
        </div>
    </div>
</div>
<script>
    $('#hash').hide();
    var file_data = null;
    var info = null;

    function newVue() {
        info = new Vue({
            el: '#hash',
            data: {
                hasHeader: true, name: null, idNo: null, gender: null, major: null,
                birthday: null, unit: null, workNo: null, address: null, colName: [],
                isTeacher: false
            },
            computed: {
                header: function () {
                    var res = [];
                    if (this.hasHeader && file_data && file_data.length > 0) {
                        for (var i = 0; i < file_data[0].length; i++) {
                            res[i] = file_data[0][i];
                        }
                    } else if (file_data && file_data.length > 0) {
                        for (var i = 0; i < file_data[0].length; i++) {
                            res[i] = String.fromCharCode(65 + i);
                        }
                    }
                    return res;
                }
            },
            methods: {
                parseData: function (arr) {
                    var data = [];
                    var st = (this.hasHeader ? 1 : 0);
                    var tot = 0;
                    for (var i = st; i < arr.length; i++) {
                        data[tot] = {};
                        for (var j = 0; j < arr[i].length; j++) {
                            if (this.colName[j]) {
                                data[tot][this.colName[j]] = arr[i][j];
                            }
                        }
                        tot++;
                    }
                    return data;
                },
                checkHead: function () {
                    var h = new Array(100);
                    for (var i = 0; i < 100; i++) h[i] = 0;
                    h[this.name]++;
                    h[this.idNo]++;
                    h[this.gender]++;
                    h[this.major]++;
                    h[this.birthday]++;
                    h[this.unit]++;
                    h[this.workNo]++;
                    h[this.address]++;
                    var res = 0;
                    for (var i = 0; i < file_data[0].length; i++) {
                        if (h[i] > 1) return false;
                        if (h[i] != 0) res++;
                    }
                    this.colName[this.name] = 'name';
                    this.colName[this.idNo] = 'idNo';
                    this.colName[this.gender] = 'gender';
                    this.colName[this.major] = 'major';
                    this.colName[this.birthday] = 'birthday';
                    this.colName[this.unit] = 'unit';
                    this.colName[this.workNo] = 'workNo';
                    this.colName[this.address] = 'address';
                    return res === 8;
                },
                uploadData: function () {
                    var _self = this;
                    if (_self.checkHead()) {
                        $.ajax({
                            url: 's/bi', type: 'post', dataType: 'json', contentType: 'application/json',
                            data: JSON.stringify({teacher: _self.isTeacher, list: _self.parseData(file_data)}),
                            success: function (res) {
                                showTip(res.msg)
                            },
                            error: function () {
                                alertify.error('网络错误, 请检查')
                            }
                        })
                    } else {
                        showTip('表格项与属性对应关系不正确')
                    }
                }
            }
        });
    }


    var _target = document.getElementById('drop');

    var _workstart = function () {
        alertify.notify('开始处理')
    };

    var _workend = function () {
        alertify.success('处理完成');
        $('#hash').show();
    };

    var _badfile = function () {
        alertify.alert('文件格式错误', function () {
        });
    };

    var _pending = function () {
        alertify.alert('正在处理文件, 请稍候', function () {
        });
    };

    var _large = function (len, cb) {
        alertify.confirm('文件很大, 确定处理吗?', cb);
    };

    var _failed = function (e) {
        console.log(e, e.stack);
        alertify.alert('处理文件失败', function () {
        });
    };

    var $container, $parent, $window, availableWidth, availableHeight;
    var calculateSize = function () {
        var offset = $container.offset();
        availableWidth = Math.max($container.parent().width(), 600);
        availableHeight = Math.max($container.parent().height(), 400);
    };

    $(document).ready(function () {
        $container = $("#hot");
        $parent = $container.parent();
        $window = $(window);
        $window.on('resize', calculateSize);
    });


    var _onsheet = function (json, sheetnames, select_sheet_cb) {

        calculateSize();

        if (!json) json = [];
        json.forEach(function (r) {
            if (json[0].length < r.length) json[0].length = r.length;
        });
        file_data = json;
        /*JSON.parse(JSON.stringify(json));*/
        calculateSize();
        $("#hot").handsontable({
            data: json,
            startRows: 5,
            startCols: 3,
            stretchH: 'all',
            rowHeaders: true,
            colHeaders: true,
            contextMenu: true,
            width: function () {
                return availableWidth;
            },
            height: function () {
                return availableHeight;
            }
        });
        newVue();
    };

    DropSheet({
        drop: _target,
        on: {
            workstart: _workstart,
            workend: _workend,
            sheet: _onsheet,
            foo: 'bar'
        },
        errors: {
            badfile: _badfile,
            pending: _pending,
            failed: _failed,
            large: _large,
            foo: 'bar'
        }
    })
</script>