<div class="ui container">
    <div class="ui grid" id="setting">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>设置</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>选课开关</td>
                <td>
                    <div class="ui form">
                        <div class="field">
                            <select v-model="list.selectOn">
                                <option value="true">开启</option>
                                <option value="false">关闭</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui primary button" @click="updateSwitch()">更新</div>
                </td>
            </tr>
            <tr>
                <td>选课公告</td>
                <td>
                    <div class="ui form">
                        <div class="field">
                            <textarea v-model="list.notice"></textarea>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui primary button" @click="updateNotice()">更新</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var setting = new Vue({
        el: '#setting',
        data: {list: {selectOn: "false", notice: ""}},
        methods: {
            loadData: function () {
                var _self = this;
                $.ajax({
                    url: 's/s', type: 'get', dataType: 'json',
                    success: function (res) {
                        if (res.ok) _self.list = res.obj;
                        else showTip(res.msg);
                    },
                    error: function () {
                        showTip('网络错误, 请检查网络连接');
                    }
                });
            },
            updateSwitch: function () {
                var _self = this;
                $.ajax({
                    url: 's/s', type: 'post', dataType: 'json', data: {name: 'selectOn', value: _self.list.selectOn},
                    success: function (res) {
                        if (res.ok) showTip('更新成功');
                        else showTip(res.msg);
                    },
                    error: function () {
                        showTip('网络错误, 请检查网络连接');
                    }
                });
            },
            updateNotice: function () {
                var _self = this;
                $.ajax({
                    url: 's/s', type: 'post', dataType: 'json', data: {name: 'notice', value: _self.list.notice},
                    success: function (res) {
                        if (res.ok) showTip('更新成功');
                        else showTip(res.msg);
                    },
                    error: function () {
                        showTip('网络错误, 请检查网络连接');
                    }
                });
            }
        }
    });
    setting.loadData();
</script>