<div class="ui three column grid" id="course">
    <table class="ui celled table">
        <thead>
        <tr>
            <th>课序号</th>
            <th>课程名</th>
            <th>学分</th>
            <th>开设学院</th>
            <th>上课周次</th>
            <th>上课时间</th>
            <th>上课地点</th>
            <th>选课人数</th>
            <th>课程总量</th>
            <th>选课详情&录入成绩</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(it,idx) in arr">
            <td>{{ it.id }}</td>
            <td>{{ it.name }}</td>
            <td>{{ it.credit }}</td>
            <td>{{ it.academy }}</td>
            <td>{{ it.week }}</td>
            <td>{{ it.time }}</td>
            <td>{{ it.location }}</td>
            <td>{{ it.number }}</td>
            <td>{{ it.total }}</td>
            <td><a href="javascript:" @click="detail(it.id)">查看</a></td>
        </tr>
        <tr v-if="!arr">
            <td>尚未任教任何课程</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ui longer modal transition hidden">
    <div class="header">选课详情</div>
    <div class="scrolling content">
        <div id="table"></div>
    </div>
    <div class="actions">
        <div class="ui gray negative button">关闭</div>
        <div class="ui secondary button" onclick="uploadScore()">上传成绩</div>
        <div class="ui primary button" onclick="exportTable()">导出</div>
    </div>
</div>
<script>
    var form_data = [];
    var courseId = -1;
    var headers = ['姓名', '性别', '学号', '班级', '专业', '学院', '成绩'];
    var course = new Vue({
        el: '#course',
        data: {arr: null, data: null,},
        methods: {
            loadData: function () {
                var _self = this;
                $.ajax({
                    url: 'a/c', type: 'get', dataType: 'json',
                    success: function (res) {
                        if (res.ok) _self.arr = res.obj;
                        else showTip(res.msg);
                    },
                    error: function () {
                        showTip('加载数据出错')
                    }
                });
            },
            detail: function (id) {
                loadDetail(id);
            }
        }
    });
    course.loadData();
    var container = document.querySelector('#table');
    var table = new Handsontable(container, {
        data: form_data,
        rowHeaders: true,
        colHeaders: headers,
        width: 800,
        height: 500
    });

    function parseData(arr) {
        var res = [];
        //res[0] = ['姓名', '性别', '学号', '班级', '专业', '学院', '成绩'];
        for (var i = 0; i < arr.length; i++) {
            res[i] = [arr[i].name, arr[i].gender, arr[i].stuNo, arr[i].unit,
                arr[i].major, arr[i].academy, arr[i].score];
        }
        return res;
    }

    function reverseData(arr) {
        var res = {};
        var tot = 0;
        res.cid = courseId;
        res.list = [];
        for (var i = 0; i < arr.length; i++) {
            if (arr[i][6] >= 0)
                res.list[tot++] = {stuNo: arr[i][2], credit: arr[i][6]};
        }
        return res;
    }

    function loadDetail(id) {
        courseId = id;
        $.ajax({
            url: `a/s/${id}`, type: 'get', dataType: 'json',
            success: function (res) {
                if (res.ok) {
                    form_data = parseData(res.obj);
                    table.loadData(form_data);
                }
                else showTip(res.msg);
            },
            error: function () {
                showTip('网络错误, 请检查网络连接')
            }
        });
        $('.longer.modal').modal({closable: false}).modal('toggle');
    }

    function exportTable() {
        doIt([headers].concat(form_data), 'xlsx', '导出信息.xlsx');
    }

    function checkScore() {
        for (var i = 0; i < form_data.length; i++)
            if (form_data[i][6] < 0) return false;
        return true;
    }

    function uploadScore() {
        if (!checkScore()) {
            if (!confirm('尚存在未输入成绩的学生, 确定上传吗?'))
                return;
        }
        var data = reverseData(form_data);
        $.ajax({
            url: 'a/up', data: JSON.stringify(data), type: 'post', dataType: 'json',
            contentType: 'application/json',
            success: function (res) {
                alert(res.msg);
            },
            error: function () {
                alert('网络错误, 请检查网络连接');
            }
        });
    }
</script>